@model IEnumerable<Lanches.Models.Lanche>

<div>
    <h2>@ViewData["Titulo"]</h2>
</div>
<h2>@ViewData["Data"]</h2>
<hr/>
    @ViewBag.TotalLanches
<hr/>
@foreach(var lanche in Model)
{
    <div>
        <h4>@lanche.Nome</h4>
        <p><img src="@lanche.ImagemUrl"/></p>
        <h3>@lanche.Preco.ToString("c")</h3>
    </div>
}